name: Publish Website to cPanel
on:
  push:
    branches:
      - main   # or your branch name

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER_PUBLIC_HTML }}
          username: ${{ secrets.FTP_USERNAME_PUBLIC_HTML }}
          password: ${{ secrets.FTP_PASSWORD_PUBLIC_HTML }}

          # adjust these for your cPanel:
          protocol: ftp        # use ftps if your host supports it
          port: 21             # or 21/990 as needed
          local-dir: ./        # what you want to upload
          server-dir: /   # path on your cPanel account
